<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jslhrd.mapper.BoardMapper">
	
	<!-- 일반 리스트 -->
	<select id="getBoardCount" resultType="int">
		SELECT COUNT(*) FROM tbl_board
	</select>
	<select id="getBoardList" resultType="com.jslhrd.domain.BoardVO">
		<![CDATA[
			SELECT X.* FROM (SELECT ROWNUM AS rnum, A.* FROM 
				(SELECT * FROM tbl_board ORDER BY idx DESC) A
				WHERE ROWNUM <= #{endPage}) X 
				WHERE X.rnum >= #{startPage}
		]]>
	</select>
	
	<!-- 검색 리스트 -->
	<select id="getSearchBoardCount" resultType="int">
		SELECT COUNT(*) FROM tbl_board WHERE 			
			<choose>
				<when test="search=='name'">
					name LIKE '%' || #{key} || '%' 
				</when>
				<when test="search=='subject'">
					subject LIKE '%' || #{key} || '%' 
				</when>
				<when test="search=='contents'">
					contents LIKE '%' || #{key} || '%' 
				</when>
			</choose>
	</select>
	<select id="getSearchBoardList" resultType="com.jslhrd.domain.BoardVO">
		
		SELECT X.* FROM (SELECT ROWNUM AS rnum, A.* FROM 
			(SELECT * FROM tbl_board WHERE 
		<choose>
			<when test="search=='name'">
				name LIKE '%' || #{key} || '%' 
			</when>
			<when test="search=='subject'">
				subject LIKE '%' || #{key} || '%' 
			</when>
			<when test="search=='contents'">
				contents LIKE '%' || #{key} || '%' 
			</when>
		</choose> 
			ORDER BY idx DESC)
		<![CDATA[
			 A WHERE ROWNUM <= #{endPage}) X WHERE X.rnum >= #{startPage}
		]]>
		
	</select>
	
	
	<!-- 글쓰기 -->
	<insert id="writeBoard">
		INSERT INTO tbl_board(idx ,name, email, subject, contents, pass) 
			VALUES(TBL_BOARD_SEQ_IDX.NEXTVAL, #{name}, #{email}, #{subject}, #{contents}, #{pass})
	</insert>
	
	<!-- 글보기 -->
	<select id="getBoard" resultType="com.jslhrd.domain.BoardVO">
		SELECT * FROM tbl_board WHERE idx = #{idx}
	</select>
	<update id="addReadCnt">
		UPDATE tbl_board SET readcnt = readcnt+1 WHERE idx = #{idx}
	</update>
	
	<!-- 글수정 -->
	<update id="modifyBoard">
		UPDATE tbl_board SET email=#{email}, subject=#{subject}, contents=#{contents} 
			WHERE idx=#{idx} <trim prefix="AND">pass LIKE #{pass}</trim>
	</update>
	
	<!-- 글삭제 -->
	<delete id="deleteBoard">
		DELETE FROM tbl_board WHERE idx=#{idx} <trim prefix="AND">pass LIKE #{pass}</trim>
	</delete>
	<!--
	
	<select id="getGuestCount" resultType="int">
		SELECT COUNT(*) FROM tbl_guest 
	</select>
	
	<select id="getSearchGuestCount" resultType="int">
		SELECT COUNT(*) FROM tbl_guest WHERE 
			<choose>
				<when test="search=='name'">
					name LIKE '%' || #{key} || '%' 
				</when>
				<when test="search=='subject'">
					subject LIKE '%' || #{key} || '%' 
				</when>
				<when test="search=='contents'">
					contents LIKE '%' || #{key} || '%' 
				</when>
			</choose>
	</select>
	
	
	<select id="getGuestList" resultType="com.jslhrd.domain.GuestVO">
		<![CDATA[
			SELECT X.* FROM (SELECT ROWNUM AS rnum, A.* FROM 
				(SELECT * FROM tbl_guest ORDER BY idx desc) A 
				WHERE ROWNUM <= #{endPage}) X 
				WHERE X.rnum >= #{startPage}
		]]>
		
		
	</select>
	
	
	<select id="getSearchList" resultType="com.jslhrd.domain.GuestVO">
		SELECT * FROM (SELECT ROWNUM AS rnum, A.* FROM 
		(SELECT * FROM tbl_guest ORDER BY idx DESC) A 
		 WHERE 
			<choose>
				<when test="search=='name'">
					name LIKE '%' || #{key} || '%' 
				</when>
				<when test="search=='subject'">
					subject LIKE '%' || #{key} || '%' 
				</when>
				<when test="search=='contents'">
					contents LIKE '%' || #{key} || '%' 
				</when>
			</choose>
			<trim prefix="AND">
				<![CDATA[
					ROWNUM <= #{endPage}) X WHERE 
				]]>
			</trim>
			
			<choose>
				<when test="search=='name'">
					name LIKE '%' || #{key} || '%' 
				</when>
				<when test="search=='subject'">
					subject LIKE '%' || #{key} || '%' 
				</when>
				<when test="search=='contents'">
					contents LIKE '%' || #{key} || '%' 
				</when>
			</choose>
			<trim prefix="AND">
				<![CDATA[
					X.rnum >= #{startPage}
				]]>
			</trim>

	</select>
	
	
	<select id="getGuest" resultType="com.jslhrd.domain.GuestVO">
		SELECT * FROM tbl_guest WHERE idx=#{idx}
	</select>
	
	
	<update id="addReadCnt">
		UPDATE tbl_guest SET readcnt=readcnt+1 WHERE idx=#{idx}
	</update>
	
	
	<insert id="insertGuest">
		<selectKey keyProperty="idx" order="BEFORE" resultType="int">
			SELECT TBL_GUEST_SEQ_IDX.NEXTVAL FROM dual
		</selectKey>
		INSERT INTO tbl_guest(idx, name, subject, contents) 
			VALUES(#{idx},#{name}, #{subject}, #{contents})
	</insert>
	
	
	<update id="updateGuest">
		UPDATE tbl_guest SET subject=#{subject}, contents=#{contents} WHERE idx=#{idx}
	</update>
	
	
	<delete id="deleteGuest">
		DELETE FROM tbl_guest WHERE idx=#{idx}
	</delete>
	
	  -->
</mapper>